<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
<form method="POST" action="/salvar/">{%csrf_token%}
Brasil
<input type="text" name="score1" value="">X
<input type="text" name="score2" value="">
Croácia
  <br>
Brasil
<input type="text" name="score3" value="">X
<input type="text" name="score4" value="">
México
  <br>
Brasil
<input type="text" name="score5" value="">X
<input type="text" name="score6" value="">
Camarões
  <br>
<input type="submit" value="Salvar" name='salvar'>

</form>

{% for item in jogo%}  
Brasil {{item.score1}} x {{item.score2}} Croácia <br>
Brasil {{item.score3}} x {{item.score4}} México  <br>
Brasil {{item.score5}} x {{item.score6}} Camarões<br>
{% endfor%}
</body>
</html>